.about {
  margin-bottom: 54px;
}

.about::before {
  content: "";
  display: inline-block;
  vertical-align: top;
  width: 490px;
  height: 505px;
  background: url("/img/gates.png") center center / cover no-repeat;
}

.about__block {
  background: url("/img/mountains.png") center center / cover no-repeat;
  padding: 66px 80px;
  display: inline-block;
  vertical-align: top;
  width: 785px;
  min-height: 455px;
  margin-left: -142px;
  margin-top: 97px;
}

.about__title {
  margin-bottom: 40px;
}

.about__text {
  color: #000;
  margin-bottom: 45px;
  width: 502px;
}

.about__text p {
  line-height: 1.6;
  margin-bottom: 20px;
}

.about__text p:last-child {
  margin-bottom: 0;
}