.about {
  margin-bottom: 55px;
}

.about__content {
  display: flex;
}

.about__content::before {
  content: "";
  display: block;
  width: 490px;
  height: 505px;
  background: url("/air-asia/img/gates.png") center center / cover no-repeat;
}

.about__block {
  flex: 1;
  max-width: 785px;
  min-height: 455px;
  margin-left: -136px;
  margin-top: 97px;
  padding: 65px 80px;
  border-radius: 5px;
  background: url("/air-asia/img/mountains.png") center center / cover no-repeat;
}

.about__title {
  margin-bottom: 40px;
}

.about__text {
  color: #000;
  margin-bottom: 39px;
  width: 502px;
}

.about__text p {
  line-height: 1.7;
  margin-bottom: 20px;
}

.about__text p:last-child {
  margin-bottom: 0;
}
