.contacts {
  margin-left: auto;
  font-style: normal;
  text-align: right;
}

.footer .contacts {
  margin-left: 72px;
}

.contacts__phone {
  display: block;
  margin-bottom: -9px;
  font-size: 26px;
  text-decoration: none;
}

.footer .contacts__phone {
  margin-bottom: 0;
}

.contacts__workhours {
  color: #98A4A8;
  font-size: 13px;
  text-decoration: underline;
}

.contacts__workhours:hover {
  color: #fff;
}

.contacts__info {
  font-size: 11px;
  color: #9A9A9A;
}