.news {
  margin-bottom: 144px;
}

.news__list {
  margin-bottom: 53px;
}

.news__card {
  display: inline-block;
  vertical-align: top;
  margin-right: 20px;
}

.news__card:last-child {
  margin-right: 0;
}