.news {
  margin-bottom: 145px;
}

.news__list {
  display: flex;
  flex-wrap: wrap;
  margin-bottom: 53px;
}

.news__card {
  flex: 1;
  margin-right: 25px;
}

.news__card:last-child {
  margin-right: 0;
}