.pagination {
  display: flex;
  justify-content: center;
  align-items: center;
}

.pagination--dark {
  color: #000;
}

.pagination__current {
  margin-right: 25px;
}

.pagination__list {
  display: flex;
  align-items: center;
}

.pagination__item {
  text-align: center;
}

.pagination__link {
  display: block;
  width: 32px;
  height: 32px;
  border-radius: 50%;
  text-decoration: none;
  font-weight: 700;
  line-height: 32px;
  transition: 0.2s ease-out;
}

.pagination__link:hover,
.pagination__item--active .pagination__link {
  background: #fff;
  color: #F5170E;
}

.pagination--dark .pagination__link:hover,
.pagination--dark .pagination__item--active .pagination__link {
  background: #F5170E;
  color: #fff;
}