.section {
  margin-bottom: 125px;
}

.section--bg--light {
  background: #fff;
  padding-top: 98px;
  margin-bottom: 0;
}

.section--bg--gray {
  background: #F4F5F5;
  margin-bottom: 0;
}

.section__title {
  font-size: 36px;
  font-weight: 700;
  margin-bottom: 48px;
}

.section__title--fire {
  position: relative;
}

.section__title--fire::after {
  content: "";
  display: inline-block;
  background: url('../../img/flame.png') no-repeat;
  height: 28px;
  width: 21px;
  margin-bottom: -3px;
  margin-left: 16px;
}

.section__title--dark {
  color: #000;
}

.section__title--light {
  font-size: 48px;
  color: #fff;
}

.section__title--blue {
  font-size: 48px;
  color: #1A1B1E;
}