.top-line {
  background: #001821 url("/img/headline-elephant.png") center top / cover no-repeat;
}

.top-line__container {
  min-height: 412px;
  padding-bottom: 23px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.top-line__header {
  display: flex;
  align-items: center;
}

.top-line__title {
  margin-bottom: 38px;
}